<% layout('../layout') -%>

<script src="../../js/module/noteMarkManagement.js"></script>

<script src="../../js/libs/run_prettify.js"></script>

<div class="wrapper margint20 notemark-detail">
    <div class="row">

        <div class="six columns centered " id="action-c">
            <div class="one columns "> </div><div class="one columns "> </div><div class="three columns "> <div class="nt-btn blue ">
                    <i class="icon-arrow-left"></i><a href="/notemark/list/<%=group%>" class="first back-notemarks"> Back</a>
                </div>
            </div>
            <div class="three columns ">
                <div class="nt-btn light-green edit-notemark-detail" data-id="<%=_id%>">
                    <i class="icon-pencil"></i><a class="first"> Edit</a>
                </div>
            </div>
            <div class="three columns ">
                <div class="add-notemark-btn nt-btn red">
                    <i class="icon-cancel"></i><a class="first">DELETE</a>
                </div>
            </div><div class="one columns ">
                <div class="lock-notemark-btn nt-btn red un-lock" style="display:<%=isLock ? "": "none"%>">
                    <i class=" fa fa-lock" style="margin-top: 12px;"></i><a class="first"></a>
                </div>
                <div class="un-lock-notemark-btn nt-btn red lock" style="display:<%=isLock ? "none": ""%>">
                    <i class="fa fa-unlock" style="
    margin-top: 12px;
    /* font-size: 18px; */
"></i><a class="first"></a>
                </div>
            </div>


        </div>
    </div>
    <div class="row margint40">
        <div class="six columns centered marginb20">

               <h1 class="notemark-title" style="text-align: center"><%=title%></h1>
               <h5 class="sub-title"><%=subTitle%>
               </h5>
        </div>
        <div id="action-note-detail-c" class="five columns centered ">
            <div class="four columns select-all-btn" onclick="noteMarkManagement.SelectAllText('select-all-text')"> <div class="add-group-btn">
                    <a  class="first"><i class="fa fa-arrows-alt"></i> Select All</a>
                </div>
            </div>
            <div class="four columns un-archive-notemark-btn" style="display: <%=isArchive ?"block;color:#E44565;":"none"%>">
                <div class=" add-group-btn ">

                    <a class="first" style="color:#E44565"><i class="fa fa-folder-open"></i>UnArchive</a>
                </div>
            </div>
            <div class="four columns archive-notemark-btn" style="display: <%=isArchive?"none":"block"%>">
                <div class=" add-group-btn ">

                    <a class="first"><i class="fa fa-folder-open-o"></i>Arcive</a>
                </div>
            </div>
            <div class="four columns sub-un-lock-btn" style="display: <%=isLock?"block;color:#E44565;":"none"%>">
                <div class="add-group-btn ">
                    <a style="color:#E44565" class="first un-lock"><i class="fa fa-circle"></i> UNLOCK</a>
                </div>
            </div>
            <div class="four columns sub-lock-btn" style="display: <%=isLock?"none":"block"%>">
                <div class="add-group-btn">
                    <a class="first lock"><i class="fa fa-circle-o"></i>LOCK</a>
                </div>
            </div>


        </div>
        <div class="ten columns centered">
            <pre class="prettyprint " id="select-all-text">
                <%=content%>
            </pre>
        </div>
    </div>
</div><div id="" class="add-notemark-mdl">
    <div class="wrapper">
        <div class="row">

            <div class="two columns centered">
                <h3>Notemarks</h3>
                <p>Update notemark</p>
            </div>
            <div class="eight columns centered text-center field" >
                <div class="five columns text-center field" >   <input type="text" id="title" placeholder="Title" style="margin-top:10px;"class="text input"></div>
                <div class="seven columns text-center field" style="margin-left:10px;"> <input type="text" id="subTitle" placeholder="Sub Title" style="margin-top:10px;" class="text input"></div>
                <div class="five columns text-center field " ><input type="text" id="tags" placeholder="Tags" style="margin-top:10px;" class="text input"></div>
                <div class="six columns text-center field" style="margin-left:10px;"> <ul class="group-color">
                        <li class="red" data-color="red"></li>
                        <li class="yellow"  data-color="yellow"></li>
                        <li class="blue"  data-color="blue"></li>
                        <li class="green"  data-color="green"></li>
                        <li class="purple"  data-color="purple"></li>
                        <li class="one-blue"  data-color="one-blue"></li>
                        <li class="one-yellow"  data-color="one-yellow"></li>
                    </ul></div>
                <input type="hidden" id="notemark-id" value="<%=_id%>">
                <input type="hidden" id="notemark-group-id" value="<%=group%>">

                <textarea rows="7" placeholder="Content" id="content"  style="margin-top:10px;" class="input textarea"></textarea>

                <div class="four columns " style="float: right">
                    <div id="save-notemark" class="notemark-form-btn save-or-update">
                        SAVE
                    </div>
                    <div id="update-notemarks" class="notemark-form-btn save-or-update">
                        UPDATE
                    </div>
                    <div class="notemark-form-btn cancel cancel-all">
                        CANCEL
                    </div>
                </div>

            </div>

        </div>
    </div>
</div>
<script>
    $(document).ready(function() {

        $('.back-notemarks').on('click', function(){var thisHref = $(this).attr('href'); window.location.href = thisHref})

        $('ul.group-color li').on('click',function(){

            $('ul.group-color li .icon-check').remove();
            $('ul.group-color li').removeAttr('id', 'selected');
            $(this).attr('id', 'selected');
            $(this).html('<i class="icon-check"></i>');

        });


        $('.edit-notemark-detail').click(function(){
            var $this = $(this);
            noteMarkManagement.Model.Clear();
            noteMarkManagement.Model.id =$this.data('id');

            noteMarkManagement.Edit();
        });

        $('#update-notemarks').on("click",function(){
            var $this = $(this);

            noteMarkManagement.Model.Clear();
            noteMarkManagement.Model.id = $('#notemark-id').val();
            noteMarkManagement.Model.color = $('.add-notemark-mdl  ul.group-color li#selected').data('color');
            noteMarkManagement.Model.title = $('#title').val();
            noteMarkManagement.Model.subTitle = $('#subTitle').val();
            noteMarkManagement.Model.group = $('#notemark-group-id').val();
            noteMarkManagement.Model.content = $('#content').val();

            noteMarkManagement.Update();
        });
    });
</script>




